/* Hoja de estilos para el festival de barrio más copado de la ciudad de Posadas */

body{
    margin: 0;
}

* {
  font-family: 'Baloo-Reg';
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #7c7c7c7c;
}
::-webkit-scrollbar-thumb {
  background: #7c7c7c;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--negro-gris);
}

h5{
  font-size: 1.3rem;
}
h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'Baloo-Regular';
  font-weight: 200;
  color: #f4f4f4;
}

:root{
    --magenta: #F42A90;
    --magenta-claro: #F9A5D7;
    --magenta-claro-oscuro: #F257B3;
    --magenta-blanco: #F9DEEF;

    --negro-gris: #333333;
}


@font-face {
  font-family: 'Baloo-Regular';
  src: url(./assets/fonts/Baloo2-Regular.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-Medium';
  src: url(./assets/fonts/Baloo2-Medium.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-SemiBold';
  src: url(./assets/fonts/Baloo2-SemiBold.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-Bold';
  src: url(./assets/fonts/Baloo2-Bold.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-ExtraBold';
  src: url(./assets/fonts/Baloo2-ExtraBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}





section:first-of-type {
  height: 90vh;
  background-image: url(./assets/img/portada@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.edicion{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: 1px solid var(--magenta);
  border-radius: 10px;
  margin: 0 0 2rem;
  overflow: hidden;
}
.edicion > h3:nth-child(1) {
  font-family: 'Baloo-ExtraBold';
  font-size: 2.5rem;
  font-weight: 600;
  
  margin: 0;
  padding: 1rem 1.5rem;

  color: var(--magenta-claro);
  background-color: var(--magenta);
}
.edicion > h3:nth-child(2) {
  font-family: 'Baloo-ExtraBold';
  font-size: 2.5rem;
  font-weight: 600;

  margin: 0;
  padding: 0rem 2.15rem;

  color: var(--magenta-claro);
}
.edicion > h3 span {
  font-family: 'Baloo-Regular';
  font-size: 2.5rem;
  font-weight: 200;
}

@media (max-width:960px) {
  .edicion > h3:nth-child(1) {
    font-size: 1.5rem;
    color: #f4f4f4;
  }
  .edicion > h3:nth-child(2) {
    font-size: 1.5rem;
    padding: 0rem .5rem;
    color: #f4f4f4;
  }
  .edicion > h3 span {
    font-size: 1.5rem;
  }
}

.edicion img {
  transform: scale(.45);
}

.portada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portada > img {
    margin: 5rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: auto;
}

@media (max-width:960px){
  .portada{
    padding: 0rem 1.5rem;
  }
  .portada > img {
    width: 100%;
  }
}

.mnes{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2rem 0rem 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background-color: #303030; */
}
.mnes img.sec-mnes {
  width: 30vw;
}
@media (max-width:960px) {
  .mnes img.sec-mnes{
    width: 70%;
  }
}

.redes .btn-whatsapp {
  font-family: 'baloo-semibold';
  font-size: 1rem;
  
  text-transform: uppercase;
  text-decoration: none;
  
  color: #f4f4f4;
  background-color: var(--negro-gris);
  
  padding: 1rem 2rem;
  border-radius: 10px;

  transition: all .3s;
}

@media (max-width:960px) {
  .iconos{
    position: relative;
    justify-content: center;
    display: flex;
  }
  .redes .btn-whatsapp {
    font-size: 1rem;
    position: absolute;
    bottom: -40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.portada .iconos i{
    margin: 1rem;
    color: #f4f4f4;
    transition: all .3s;
}
@media (hover:hover) {
  .redes .btn-whatsapp:hover{
    /* font-size: 170%; */
    font-size: 1.15rem;
    color: #e7bdcf;
    background-color: #bb0962;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .redes .btn-whatsapp:hover i {
    /* transform: scale(1.15); */
    color: #e7bdcf;
  }
}

.portada h2 {
    font-family: 'Baloo-Bold';
    font-size: 5rem;
    letter-spacing: -2.5px;
    color: var(--magenta-blanco);
}

#lineup-bandas > div:nth-child(1){
  /* display: flex; */
  flex-direction: column;
}

.portada .info-portada {
    margin: 2rem 0rem;
    width: 40vw;
}

.portada .info-portada a {
  font-family: 'Baloo-Regular';
  font-size: 1.6rem;
  color: var(--magenta-blanco);
  padding: 1rem;
  width: 100%;
  
  border: none;
  border-radius: 5px;
  background-color: var(--magenta);
  transition: all .6s;

  text-decoration: none;
}
@media (hover:hover) {
    .portada .info-portada a:hover {
      background-color: var(--magenta-claro);
    }
}

#lineup-bandas{
  background-color: var(--negro-gris);
}
#lineup-bandas > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 2rem 0rem 1rem;
}
#lineup-bandas div:first-child h2{
  font-family: 'Baloo-ExtraBold';
  font-weight: 600;
  font-size: 3rem;
  color: var(--magenta-blanco);
  margin: 1rem 0rem 0rem;
}
@media (max-width:960px) {
  #lineup-bandas div:first-child h2 {
    margin: auto 2rem;
    line-height: 3rem;
  }
  #lineup-bandas div:first-child h5 {
    margin: .5rem 2rem 0rem;
    line-height: 1.45rem;
  }
}



.lineup {
  padding: 1rem 6rem 4rem;
  display: flex;
  gap: 1rem;
  /* overflow-x: auto; */

  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.lineup.active{
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.lineup::-webkit-scrollbar {
  height: 10px;
}
.lineup::-webkit-scrollbar-track {
  background: var(--negro-gris);
}
/* .lineup::-webkit-scrollbar-thumb {
  background: var(--negro-gris);
} */
.lineup::-webkit-scrollbar-thumb:hover {
  background: #000;
}


.artista {
  width: 20vw;
  min-width: 250px; /* Asegura un ancho mínimo en pantallas pequeñas */
  margin: 1rem auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s;
}

.artista img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  object-fit: cover; /* Ajusta la imagen para que ocupe el espacio disponible */
  pointer-events: none;
}


.artista h3,
.artista h5 {
  padding: 0 1.5rem;
  margin: .2rem 0rem;
  color: #f4f4f4;
}
.artista h3{
  font-family: 'Baloo-ExtraBold';
  font-weight: 600;
  font-size: 1.95rem;
  line-height: 1.95rem;
}
.artista h5{
  font-family: 'Baloo-Regular';
  font-weight: 200;
  font-size: 1.255rem;
}

@media (hover:hover) {
  .artista:hover img{
    filter: grayscale(0%);
  }
  .artista:hover {
    background-color: #000000;
    filter: drop-shadow(0 6mm 4mm #bdbdbd);
  }
}

.info-artista {
  width: 100%;
  padding-bottom: 1rem;
}
.info-artista > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem 1rem;
  color: #f4f4f4;
}
.info-artista > div > h5{
  padding: 0rem;
}
.info-artista h3,
.info-artista h5 {
  text-wrap: stable;
  line-height: 100%;
}

#apoyos{
  display: flex;
  place-content: center;
  flex-direction: row;

  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

#apoyos h5,
#apoyos h5 a {
  font-family: 'baloo-regular';
  font-size: .95rem;
  line-height: 1.15rem;
  color: #7c7c7c;
  text-decoration: none;
  transition: all .3s;
}

#apoyos h5 a.comunicate{
  font-family: 'baloo-bold';
  transition: all .3s;
}

@media (hover:hover) {
  #apoyos h5 a.comunicate:hover {
    padding: 0rem .3rem;
    color: #f4f4f4;
    background-color: var(--negro-gris);
    border-radius: 5px;
  }
}

/* MAX */
@media (max-width:960px) {
  #apoyos {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}

/* MIN */
@media (min-width:960px) {
  #apoyos {
    align-items: center;
  }


  #apoyos div,
  #apoyos div.apoyadores,
  #apoyos div.apoyadores-2 {

    width: 33.33%;
  }
  #apoyos div:first-of-type{
    text-align: end;
  }
}

@media (min-width:960px) {
  .apoyos-mobile {
    display: none;
  }
}
@media (max-width:960px){
  .apoyos-desktop{
    display: none;
  }
}

.apoyadores {
  width: 100%;
  height: 15vh;
  margin: 1rem 0rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  animation: apoyadores 10s infinite;
}
/* .apoyadores {
  animation: apoyadores 10s infinite;
} */
.apoyadores-2 {
  width: 100%;
  height: 15vh;
  margin: 1rem 0rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  animation: apoyadores-2 15s infinite;
}
@media (max-width:960px) {
  .apoyadores {
    animation: apoyadores-mobile 10s infinite
  }
  .apoyadores-2 {
    animation: apoyadores-2-mobile 15s infinite;
  }
}




@keyframes apoyadores {
  2%, 20% {
    background-image: url(./assets/img/patro/patro-1.png);
    background-size: contain;
    opacity: 1;
    /* transform: translateX(0); */
  }
  25%, 45% {
    background-image: url(./assets/img/patro/patro-2.png);
    /* background-size: 15vh; */
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-10px); */
  }
  50%, 70% {
    background-image: url(./assets/img/patro/patro-3.png);
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-20px);  */
  }
  75%, 98% {
    background-image: url(./assets/img/patro/patro-5.jpeg);
    background-size: 22vw;
    opacity: 1;
    /* transform: translateX(-30px);  */
  }

  0%, 2%, 21%, 24%, 46%, 49%, 71%, 74%, 99%, 100% {
    opacity: 0;
  }
}

/* Apoyos mobile */
@keyframes apoyadores-mobile {
  2%, 20% {
    background-image: url(./assets/img/patro/patro-1.png);
    background-size: contain;
    opacity: 1;
    /* transform: translateX(0); */
  }
  25%, 45% {
    background-image: url(./assets/img/patro/patro-2.png);
    /* background-size: 15vh; */
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-10px); */
  }
  50%, 70% {
    background-image: url(./assets/img/patro/patro-3.png);
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-20px);  */
  }
  75%, 98% {
    background-image: url(./assets/img/patro/patro-5.jpeg);
    background-size: 75vw;
    opacity: 1;
    /* transform: translateX(-30px);  */
  }

  0%, 2%, 21%, 24%, 46%, 49%, 71%, 74%, 99%, 100% {
    opacity: 0;
  }
}

/* Segunda parte de apoyos */
@keyframes apoyadores-2 {
  0%, 18% {
    background-image: url(./assets/img/patro/patro-4.png);
    background-size: contain;
    background-size: 20vw;
    opacity: 1;
    /* transform: translateX(0); */
  }
  20%, 38% {
    background-image: url(./assets/img/patro/patro-6.jpeg);
    /* background-size: 15vh; */
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-10px); */
  }
  40%, 58% {
    background-image: url(./assets/img/patro/patro-7.jpeg);
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-20px);  */
  }
  60%, 78% {
    background-image: url(./assets/img/patro/patro-8.jpg);
    /* background-size: 30vw; */
    opacity: 1;
    /* transform: translateX(-30px);  */
  }
  80%, 98% {
    background-image: url(./assets/img/patro/patro-9.jpg);
    /* background-size: 30vw; */
    opacity: 1;
    /* transform: translateX(-30px);  */
  }

  0%, 2%, 17%, 24%, 46%, 49%, 71%, 74%, 99%, 100% {
    opacity: 0;
  }
}

/* Segunda parte de apoyos pero para mobile */
@keyframes apoyadores-2-mobile {
  0%, 20% {
    background-image: url(./assets/img/patro/patro-4.png);
    background-size: contain;
    background-size: 60vw;
    opacity: 1;
    /* transform: translateX(0); */
  }
  25%, 45% {
    background-image: url(./assets/img/patro/patro-6.jpeg);
    /* background-size: 15vh; */
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-10px); */
  }
  50%, 70% {
    background-image: url(./assets/img/patro/patro-7.jpeg);
    background-size: contain;
    opacity: 1;
    /* transform: translateX(-20px);  */
  }
  75%, 98% {
    background-image: url(./assets/img/patro/patro-8.jpg);
    /* background-size: 30vw; */
    opacity: 1;
    /* transform: translateX(-30px);  */
  }

  0%, 2%, 21%, 24%, 46%, 49%, 71%, 74%, 99%, 100% {
    opacity: 0;
  }
}

.apoyadores-img {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: 0rem 3rem;

  flex-wrap: wrap;
}

.apoyadores-item img {
  height: 4rem;
  object-fit: fill;
}
.apoyadores-item.cx-img img{
  width: 7rem;
  height: auto;
}

#mapa{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  place-content: center;
}
#mapa div:first-child{
  position: absolute;
  height: fit-content;
  width: 30vw;
  padding: 1rem;

  left: 1rem;
  top: 1rem;
  z-index: 99;

  background-color: var(--negro-gris);
  border-radius: 10px;
}

#mapa div:first-child h2{
  font-family: 'baloo-bold';
  font-size: 3rem;
  margin: 0;
}
#mapa div:first-child p{
  margin-top: 0rem;
}

#mapa div:first-child span{
  font-family: 'baloo-bold';
}

@media (max-width:960px) {
  #mapa div:first-child h2{
    font-size: 1.25rem;
  }
  #mapa div:first-child{
    width: 60vw;
  }
}


.mapa{
  width: 100%;
}
.mapa iframe {
  border: none;
  filter: grayscale(100%);
}


/* Menu navegador */

div.menu{
  position: fixed;
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: .5rem 3rem;

  justify-content: space-around;
  align-items: center;
  z-index: 999;

  background-color: var(--negro-gris);
  /* backdrop-filter: blur(10px); */
}

div.menu > p{
  margin: .2rem 0rem;
  color: #a5a5a5;
}
div.menu > p i{
  padding-right: .5rem;
}

div.menu span a{
  font-family: 'baloo-semibold';
  font-size: 1.2rem;
}

#navegador {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#navegador span a{
  color: var(--magenta-blanco);
  text-decoration: none;
}

#navegador .item,
#navegador span a i {
  transition: all .3s;
}

@media (hover:hover) {
  #navegador .item:hover,
  #navegador span a i:hover {
    transform: scale(1.25);
  }
}

@media (max-width:960px) {
  div.menu {
    display: none;
  }
}



/* FIN Menu navegador */



#nos{
  display: flex;
  place-content: center;
  height: 70vh;

  background-image: linear-gradient(rgba(153, 36, 108, 0.479), rgba(214, 100, 248, 0.5)),
  url("./assets/img/bg/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nosotros {
  width: 40vw;
  place-content: center;
  display: flex;
  flex-direction: column;
}

.nosotros p,
.nosotros h3 {
  margin: 0;
}

.nosotros h3 {
  font-family: 'baloo-bold';
  font-size: 3rem;
}
@media (max-width:960px) {
  .nosotros{
    width: 100%;
    padding: 0rem 3rem;
  }
}



/* FOOTER */

footer{
  background-color: var(--negro-gris);
}

.ig {
  display: flex;
  justify-content: start;
}

.ig a:hover i {
  color: #f4f4f4;
}

@media (max-width:960px) {
  .ig {
    justify-content: end;
  }
}

.footer-uno{
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: auto 10rem;
  padding: 2rem 0rem;
  /* width: 50vw; */
}

.footer-uno div{
  width: 100%;
}

.footer-uno a,
.footer-uno h3,
.footer-uno p {
  color: #7c7c7c;
}

.footer-uno .apoyos{
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: .5rem;
  align-items: end;
}

.footer-uno .apoyos a{
  font-family: 'baloo-semibold';
  font-size: 1rem;
  text-align: right;
  text-decoration: none;
  margin: 0;
  width: fit-content;
}

.footer-uno .apoyos a i{
  padding-left: 1rem;
}

@media (hover:hover) {
  .footer-uno .apoyos a:hover i{
    color: #a5a5a5;
  }
}

@media (max-width:960px) {
  .footer-uno {
    /* width: 100%; */
    margin: auto 2rem;
    flex-direction: column;
  }
  .footer-uno .apoyos{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-uno .apoyos a{
    width: 45%;
    text-align: start;
    justify-content: space-around;
    display: flex;
  }
  .footer-uno div.footer-hijo{
    width: 100% !important;
  }
}

.footer-uno div.footer-hijo {
  width: 40vw;
}

.contenidx{
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 0rem;
  /* border-top: 2px solid var(--magenta-claro-oscuro); */
  border-top: 1px dashed #7c7c7c;
}

.contenidx a{
  color: var(--magenta);
  text-decoration: none;
  background-color: var(--magenta-blanco);
  padding: .35rem 1.2rem;
  border-radius: 2px;
}

.contenidx .enlace {
  display: flex;
  border: 2px solid var(--magenta-blanco);
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.contenidx .enlace h4{
  margin: 0;
  padding: 0rem 1rem;
  color: var(--magenta-blanco);
}

.enlace{
  transition: all .25s;
}

@media (hover:hover){
  .enlace:hover {
    /* box-shadow: 0 0 11px rgba(33,33,33,.9); */
    box-shadow: 0 0 40px rgb(18, 18, 18, .9);
  }
}