/* Hoja de estilos para el festival de barrio más copado de la ciudad de Posadas */

body{
    margin: 0;
}

* {
  font-family: 'Baloo-Reg';
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #7c7c7c7c;
}
::-webkit-scrollbar-thumb {
  background: #7c7c7c;
}
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

h5{
  font-size: 1.3rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Baloo-Regular';
  font-weight: 200;
  color: #f4f4f4;
}

:root{
    --magenta: #F42A90;
    --magenta-claro: #F9A5D7;
    --magenta-claro-oscuro: #F257B3;
    --magenta-blanco: #F9DEEF;
}


@font-face {
  font-family: 'Baloo-Regular';
  src: url(./assets/fonts/Baloo2-Regular.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-Medium';
  src: url(./assets/fonts/Baloo2-Medium.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-SemiBold';
  src: url(./assets/fonts/Baloo2-SemiBold.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-Bold';
  src: url(./assets/fonts/Baloo2-Bold.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo-ExtraBold';
  src: url(./assets/fonts/Baloo2-ExtraBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}





section:first-of-type {
  height: 90vh;
  background-image: url(./assets/img/portada@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.edicion{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: 1px solid var(--magenta);
  border-radius: 10px;
  margin: 0 0 2rem;
  overflow: hidden;
}
.edicion > h3:nth-child(1) {
  font-family: 'Baloo-ExtraBold';
  font-size: 2.5rem;
  font-weight: 600;
  
  margin: 0;
  padding: 1rem 1.5rem;

  color: var(--magenta-claro);
  background-color: var(--magenta);
}
.edicion > h3:nth-child(2) {
  font-family: 'Baloo-ExtraBold';
  font-size: 2.5rem;
  font-weight: 600;

  margin: 0;
  padding: 0rem 2.15rem;

  color: var(--magenta-claro);
}
.edicion > h3 span {
  font-family: 'Baloo-Regular';
  font-size: 2.5rem;
  font-weight: 200;
}

@media (max-width:960px) {
  .edicion > h3:nth-child(1) {
    font-size: 1.5rem;
    color: #f4f4f4;
  }
  .edicion > h3:nth-child(2) {
    font-size: 1.5rem;
    padding: 0rem .5rem;
    color: #f4f4f4;
  }
  .edicion > h3 span {
    font-size: 1.5rem;
  }
}

.edicion img {
  transform: scale(.45);
}

.portada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portada > img {
    margin: 5rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: auto;
}

@media (max-width:960px){
  .portada{
    padding: 0rem 1.5rem;
  }
  .portada > img {
    width: 100%;
  }
}

.mnes{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2rem 0rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--magenta-blanco);
}
.mnes img.sec-mnes {
  width: 30vw;
}
@media (max-width:960px) {
  .mnes img.sec-mnes{
    width: 70%;
  }
}

.portada .iconos i{
    margin: 1rem;
    color: #f4f4f4;
    transition: all .3s;
}
@media (hover:hover) {
  .portada .iconos i:hover{
    color: var(--magenta);
    transform: scale(1.15);
  }
}

.portada h2 {
    font-family: 'Baloo-Bold';
    font-size: 5rem;
    letter-spacing: -2.5px;
    color: var(--magenta-blanco);
}

#lineup-bandas > div:nth-child(1){
  /* display: flex; */
  flex-direction: column;
}

.portada .info-portada {
    margin: 2rem 0rem;
    width: 40vw;
}

.portada .info-portada a {
  font-family: 'Baloo-Regular';
  font-size: 1.6rem;
  color: var(--magenta-blanco);
  padding: 1rem;
  width: 100%;
  
  border: none;
  border-radius: 5px;
  background-color: var(--magenta);
  transition: all .6s;

  text-decoration: none;
}
@media (hover:hover) {
    .portada .info-portada a:hover {
      background-color: var(--magenta-claro);
    }
}

#lineup-bandas{
  background-color: #333333;
}
#lineup-bandas > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 2rem 0rem 1rem;
}
#lineup-bandas div:first-child h2{
  font-family: 'Baloo-ExtraBold';
  font-weight: 600;
  font-size: 3rem;
  color: var(--magenta-blanco);
  margin: 1rem 0rem 0rem;
}
@media (max-width:960px) {
  #lineup-bandas div:first-child h2 {
    margin: auto 2rem;
    line-height: 3rem;
  }
  #lineup-bandas div:first-child h5 {
    margin: .5rem 2rem 0rem;
    line-height: 1.45rem;
  }
}



.lineup {
  padding: 1rem 6rem 4rem;
  display: flex;
  gap: 1rem;
  /* overflow-x: auto; */

  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.lineup.active{
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.lineup::-webkit-scrollbar {
  height: 10px;
}
.lineup::-webkit-scrollbar-track {
  background: #333333;
}
/* .lineup::-webkit-scrollbar-thumb {
  background: #333333;
} */
.lineup::-webkit-scrollbar-thumb:hover {
  background: #000;
}


.artista {
  width: 20vw;
  min-width: 250px; /* Asegura un ancho mínimo en pantallas pequeñas */
  margin: 1rem auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s;
}

.artista img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  object-fit: cover; /* Ajusta la imagen para que ocupe el espacio disponible */
  pointer-events: none;
}


.artista h3,
.artista h5 {
  padding: 0 1.5rem;
  margin: .2rem 0rem;
  color: #f4f4f4;
}
.artista h3{
  font-family: 'Baloo-ExtraBold';
  font-weight: 600;
  font-size: 1.95rem;
  line-height: 1.95rem;
}
.artista h5{
  font-family: 'Baloo-Regular';
  font-weight: 200;
  font-size: 1.255rem;
}

@media (hover:hover) {
  .artista:hover img{
    filter: grayscale(0%);
  }
  .artista:hover {
    background-color: #000000;
    filter: drop-shadow(0 6mm 4mm #bdbdbd);
  }
}

.info-artista {
  width: 100%;
}
.info-artista > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem 1rem;
  color: #f4f4f4;
}
.info-artista > div > h5{
  padding: 0rem;
}

#auspicio{
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.patrocinio{
  /* display: flex; */
  width: 100%;
  height: 15vh;
  /* justify-content: space-between; */
  /* gap: 3rem; */
  /* display: inline-flex; */
  animation: patrocinio 10s infinite linear alternate;

  margin: 1rem 0rem;
  /* background-color: #f4f4f4; */
}
.patrocinio img {
  gap: 1rem;
}
/* @keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
} */
@keyframes patrocinio {
  0%, 20% {
    background-image: url(./assets/img/Fender.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  25%, 45% {
    background-image: url(./assets/img/California@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  50%, 70% {
    background-image: url(./assets/img/grolsh.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  75%, 100% {
    background-image: url(./assets/img/buhero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}


.mapa{
  width: 100%;
}
.mapa iframe {
  border: none;
  filter: grayscale(100%);
}














section.prueba {
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
.container {
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

#toggle {
  -webkit-appearance: none;
}

.button {
  position: absolute;
  z-index: 999;
  width: 320px;
  height: 65px;
  background: #222;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 24px;
  overflow: hidden;
  transition: width 300ms linear;

  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #eeff00;
    transform: rotate(225deg);
    transition: all 0.4s ease;
  }
  &:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #eeff00;
    transform: rotate(135deg);
    transition: all 0.4s ease;
  }
}

.nav {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: #222;
  width: 100%;
  border-radius: 5px;
  transform: translateX(10%);
  padding: 10px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  li {
    opacity: 0;
    list-style: none;
    &:nth-child(1) {
      transform-origin: bottom;
      animation: itop 300ms 300ms linear forwards;
    }
    &:nth-child(2) {
      transform-origin: bottom;
      animation: itop 300ms 400ms linear forwards;
    }
    &:nth-child(3) {
      transform-origin: bottom;
      animation: itop 300ms 500ms linear forwards;
    }
    &:nth-child(4) {
      transform-origin: bottom;
      animation: itop 300ms 600ms linear forwards;
    }
  }
  a {
    transition: all 0.5s linear;
    text-decoration: none;
    color: #eeff00;
    font-size: 20px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    border-radius: 15px;

    &:hover {
      color: #fff;
      background: #1c1c1c;
      border-radius: 15px;
    }
  }
}

#toggle:checked ~ label .nav {
  display: none;
  opacity: 0;
  transform: translateX(0);
}

#toggle:checked ~ .button:before {
  transform: rotate(90deg);
}

#toggle:checked ~ .button:after {
  transform: rotate(0deg);
}

#toggle:checked ~ .button {
  width: 70px;
  transition: all 0.1s linear;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

@keyframes itop {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
